// ----------------------------------------------------------
// GLOBAL TOKENS
// Custom Theme
// ----------------------------------------------------------

@layer theme {
  .theme {
    // --------------------------------------------------------
    // Colors (Branding Core)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Typography (Branding Core)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Spacing (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Grid & Layout (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Interactive Controls (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Refinements
    // --------------------------------------------------------

    // --------------------------------------------------------
    // FS UI Components
    // --------------------------------------------------------
    // Add here the customizations for FastStore UI components.
  }
}
